@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bar-icons {
    @apply h-8 w-8 text-white}
    
  
  }
  

:root{
    --bg-dark:#041c32;
    --bg-light:#FEFCF3;
    --bg-nav: rgba(2, 10, 19, 0.5);
    --gradient: rgb(239,150,197);
    --search:rgb(145,168,208);
}

.gradient{
    background: rgb(204,251,255);
    background: linear-gradient(151deg,  rgba(145,168,208,1) 32%, rgba(239,150,197,1) 80%);
}

.navbar{
    backdrop-filter: blur(4px);
}

.gradient-text{
    background: -webkit-linear-gradient(151deg,  rgba(145,168,208,1) 70%, rgba(239,150,197,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}